<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @list.user_id %>
</p>

<%= link_to 'Delete', @list, method: :delete, data: { confirm: "Sure?" } %>
<%= link_to 'Back', root_path %>
<%= link_to 'New item', new_list_item_path(@list) %>
