<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Thumbnail small</th>
      <th>Available</th>
      <th>Video</th>
      <th>Provider</th>
      <th>Title</th>
      <th>Duration</th>
      <th>Date</th>
      <th>Embed url</th>
      <th>Author</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.thumbnail_small %></td>
        <td><%= item.available %></td>
        <td><%= item.video_id %></td>
        <td><%= item.provider %></td>
        <td><%= item.title %></td>
        <td><%= item.duration %></td>
        <td><%= item.date %></td>
        <td><%= item.embed_url %></td>
        <td><%= item.author %></td>
        <td><%= link_to 'Show', list_item_path(@list, item) %></td>
        <td><%= link_to 'Destroy', list_item_path(@list, item), data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_list_item_path(@list) %>
