<h1><%= @list.name %> items</h1>

<table class='table table-striped align-middle'>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= image_tag item.thumbnail_small %></td>
        <td><%= item.title %></td>
        <td><%= link_to 'Show', list_item_path(@list, item) %></td>
        <td><%= link_to 'Destroy', list_item_path(@list, item), data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', lists_path, class: "btn btn-secondary"  %>
<%= link_to 'New Item', new_list_item_path(@list), class: "btn btn-primary" %>

